.goals-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.goal-name {
padding: 5px 10px;
}

.goals-list li {
  display: flex;
  font-display: row;
  border: 1px dashed magenta;
  max-width: 50%;
  margin: 5px;
}

.goals-options {
  display: flex;
  flex-direction: column;
  text-align: right;
  color: white;
  background: grey;
  padding: 5px 10px;
  cursor: pointer;
  & span:hover {
    color: navy;
  }
}
